services:
  cert-gen:
    image: edge-cert-gen:latest
    build:
      context: ./docker
      dockerfile: cert-gen.Dockerfile
    container_name: cert-gen
    command:
      - /bin/sh
      - -c
      - "set -e; if [ ! -f /certs/ca.crt ]; then openssl genrsa -out /certs/ca.key 2048; openssl req -x509 -new -nodes -key /certs/ca.key -sha256 -days 365 -subj '/CN=EdgeSensorCA' -out /certs/ca.crt; openssl genrsa -out /certs/server.key 2048; openssl req -new -key /certs/server.key -subj '/CN=mosquitto' -out /certs/server.csr; openssl x509 -req -in /certs/server.csr -CA /certs/ca.crt -CAkey /certs/ca.key -CAcreateserial -out /certs/server.crt -days 365 -sha256; openssl genrsa -out /certs/client.key 2048; openssl req -new -key /certs/client.key -subj '/CN=edge-sensor' -out /certs/client.csr; openssl x509 -req -in /certs/client.csr -CA /certs/ca.crt -CAkey /certs/ca.key -CAcreateserial -out /certs/client.crt -days 365 -sha256; fi; chmod 644 /certs/*.crt || true; chmod 644 /certs/*.key || true;"
    volumes:
      - mosquitto-certs:/certs
    restart: "no"

  mosquitto:
    image: edge-mosquitto:2.0.22
    build:
      context: ./docker
      dockerfile: mosquitto.Dockerfile
    container_name: mosquitto
    command:
      - mosquitto
      - -c
      - /mosquitto/config/mosquitto.conf
    ports:
      - "8883:8883"
    volumes:
      - ./docker/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - mosquitto-certs:/mosquitto/certs:ro
    depends_on:
      cert-gen:
        condition: service_completed_successfully

  edge-sensor:
    build: .
    container_name: edge-sensor
    environment:
      SENSOR_MODE: mock
      MQTT_HOST: mosquitto
      MQTT_PORT: 8883
      MQTT_TOPIC: edge/sensor/fused
      MQTT_TLS_CA: /mosquitto/certs/ca.crt
      MQTT_TLS_CERT: /mosquitto/certs/client.crt
      MQTT_TLS_KEY: /mosquitto/certs/client.key
      MQTT_TLS_INSECURE: "false"
      PUBLISH_INTERVAL_SEC: 1.0
    volumes:
      - mosquitto-certs:/mosquitto/certs:ro
    depends_on:
      - mosquitto

volumes:
  mosquitto-certs:
